* {
  box-sizing: border-box;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  max-width: 1366px;
  min-width: 1170px;
  margin: 0 auto;
  background-color: #feafc3;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 104px;
}

/* левая часть шапки*/

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/*логотип шапки*/

.header-logo {
  display: block;
  margin-right: 32px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:focus {
  opacity: 0.3;
}

/*навигация шапки*/

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.navigation-link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #2d3440;
  text-decoration: none;
  padding: 8px 16px;
  outline: none;
}

/*выбранная страница*/

.current-page {
  background-color: #ff4a78;
  border-radius: 30px;
  color: #fcfcfc;
}

.navigation-link:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:focus {
  outline: auto;
  border-radius: 30px;
}

.navigation-link:active {
  background: #fcfcfc;
  border-radius: 30px;
}

.navigation-item:not(:last-child) {
  margin-right: 32px;
}

/*правая часть шапки */

.header-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

/*телефон шапки*/

.header-phone {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #2d3440;
  text-decoration: none;
  margin-right: 16px;
}

.header-phone:hover {
  opacity: 0.6;
}

/*поиск шапки*/

.header-search {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  cursor: pointer;
  border: none;
  margin-right: 16px;
}

/*иконка поиска*/

.header-search .icon {
  width: 16px;
  height: 16px;
  color: #000000;
}

/*выбранны посик */

.search-current {
  background: #ff4a78;
  border-radius: 30px;
  color: #fcfcfc;
}

.header-search:hover {
  background: rgba(252, 252, 252, 0.5);
}

.header-search:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2d3440;
  border-radius: 27px;
}

.header-search:active {
  background: #fcfcfc;
  border-radius: 27px;
}

/*логин шапки*/

.header-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 88px;
  height: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2d3440;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 6px 16px;
  margin-right: 16px;
}

/*иконка логин */

.header-login .icon {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

/*выбранная кнопка*/

.login-current {
  background: #ff4a78;
  border-radius: 30px;
  color: #fcfcfc;
}

.header-login:hover {
  background: rgba(252, 252, 252, 0.5);
}

.header-login:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #000000;
  border-radius: 30px;
}

.header-login:active {
  background: #fcfcfc;
}

/*корзина шапки */

.header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2d3440;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 6px 16px;
}

/*иконка карзины */

.header-cart .icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.header-cart:hover {
  background: rgba(252, 252, 252, 0.5);
}

.header-cart:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #000000;
}

.header-cart:active {
  background: #fcfcfc;
}

/* основная страница */

/* секция слайдер*/

.main-slider ul {
  list-style: none;
}

.main-slider .container {
  display: grid;
  grid-template-columns: 561px 1fr;
  margin-bottom: 80px;
}

/*описание продукта*/

.slider-description-list {
  grid-row: 1/3;
  display: flex;
  flex-wrap: wrap;
  min-width: 398px;
  align-self: center;
  margin-left: 70px;
  margin-right: 21px;
}

.slider-description-item {
  display: none;
}

.slider-title {
  flex-wrap: wrap;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  min-width: 470px;
  color: #2d3440;
  margin-bottom: 24px;
}

.product-description {
  flex-wrap: wrap;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  min-width: 375px;
  color: #2d3440;
  margin-bottom: 48px;
}

.current-slider-description {
  display: block;
}

/*кнопка заказать*/

.slider-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #fcfcfc;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  padding: 12px 32px;
  cursor: pointer;
}

.slider-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid rgba(252, 252, 252, 1);
}
.slider-button:focus {
  background-color: rgba(252, 252, 252, 1);
  outline: 4px solid #000000;
}

.slider-button:active {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #000000;
}

.slider-button:disabled {
  background-color: #e7e7e7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

/*пагинация слайдера*/

.slider-pagination-list {
  grid-row: 3/5;
  display: flex;
  flex-wrap: wrap;
  min-width: 52px;
  justify-content: flex-start;
  list-style-type: none;
}

.pagination-button {
  display: block;
  padding: 0;
  width: 11px;
  height: 11px;
  box-sizing: content-box;
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.pagination-button-current {
  background-color: rgba(252, 252, 252, 1);
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid #fcfcfc;
}

.pagination-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid #000000;
}

/*фото слайда*/

.slider-photo-list {
  display: grid;
  grid-template-columns: 1fr 100px 100px;
  column-gap: 48px;
}

/*кнопки пролистывания слайда*/

.slider-prew {
  position: absolute;
  top: 64%;
  left: 48%;
  background-image: url("../images/slider/arrow.svg");
  background-position: 55% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  display: block;
  width: 38px;
  height: 38px;
  border: 2px solid #fcfcfc;
  border-radius: 50%;
  transform: rotate(180deg);
  cursor: pointer;
}

.slider-next {
  position: absolute;
  top: 64%;
  right: 643px;
  background-image: url("../images/slider/arrow.svg");
  background-position: 55% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  display: block;
  width: 38px;
  height: 38px;
  border: 2px solid #fcfcfc;
  border-radius: 50%;
  cursor: pointer;
}

/*фото продукта*/

.slider-toggle:hover {
  background-color: #fcfcfc;
}

.slider-toggle:hover {
  opacity: 0.5;
}

.photo-item {
  position: relative;
  justify-self: center;
  transform: scale(0.28);
  opacity: 0.4;
  cursor: pointer;
}

.photo-item::after {
  content: "";
  position: absolute;
  top: 50%;
  z-index: -1;
  display: block;
  width: 312px;
  height: 312px;
  background-color: #fcfcfc;
  border-radius: 50%;
  transform: translateY(-50%);
  opacity: 0.4;
}

/*активный  слайд*/

.current-slider {
  transform: none;
  opacity: 1;
  cursor: default;
}

.current-slider::after {
  content: "";
  position: absolute;
  top: 50%;
  z-index: -1;
  display: block;
  width: 312px;
  height: 312px;
  background-color: #fcfcfc;
  border-radius: 50%;
  transform: translateY(-50%);
}

.photo-item:hover {
  opacity: 1;
}

/*социальные сети слайда*/

.slider-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  min-width: 104px;
}

/*секция подарков*/

.main-prezent-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin: 0 33%;
  min-width: 434px;
  margin-bottom: 55px;
}

/*обертка подарков*/

.main-prezent .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

/*подарок левый*/

.prezent-left {
  max-width: 570px;
  background: #ff7799;
  border-radius: 16px;
  padding: 36px;
  background-image: url("../images/main/prezents/raspberry-prezent.png");
  background-repeat: no-repeat;
  background-position: right;
}

/*название*/

.prezent-left-title {
  display: flex;
  flex-wrap: wrap;
  max-width: 199px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin-bottom: 28px;
}

/*описание*/

.prezent-left-discription {
  width: 66%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  margin-bottom: 28px;
}

/*подарок правый*/

.prezent-right {
  max-width: 570px;
  background: #ff7799;
  border-radius: 16px;
  padding: 36px;
  background-image: url("../images/main/prezents/marshmallow-prezent.png");
  background-repeat: no-repeat;
  background-position: right;
}

/*названеие*/

.prezent-right-title {
  display: flex;
  flex-wrap: wrap;
  max-width: 254px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin-bottom: 28px;
}

/*описание*/

.prezent-right-discription {
  width: 66%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  margin-bottom: 28px;
}

/*кнопка для заказа подарка*/

.prezent-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #fcfcfc;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgb(45 52 64 / 10%);
  border-radius: 26px;
  padding: 12px 32px;
  cursor: pointer;
}

.prezent-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid rgba(252, 252, 252, 1);
}
.prezent-button:focus {
  background-color: rgba(252, 252, 252, 1);
  outline: 4px solid #000000;
}

.prezent-button:active {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #000000;
}

.prezent-button:disabled {
  background-color: #e7e7e7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

/*секция популярное */

.main-popular .container {
  margin-bottom: 80px;
}

.main-popular-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin: 0 25%;
  min-width: 527px;
  margin-bottom: 107px;
}

.popular-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.popular-product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fcfcfc;
  border-radius: 8px;
  max-width: 270px;
  padding: 0 28px 40px 28px;
}

.popular-product-card a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
}

.card-img {
  display: block;
  object-fit: contain;
  border-radius: 50%;
  margin-top: -52px;
  margin-bottom: 16px;
}

.card-product-link:hover {
  padding: 8px 16px;
  background-color: #ffcbd8;
  border-radius: 30px;
}

.card-product-link:focus {
  padding: 7px 15px;
  background-color: #ffcbd8;
  border: 2px solid #000000;
  border-radius: 30px;
}

.card-product-title {
  margin-bottom: 8px;
}

.card-product-discription {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #565c66;
  margin-bottom: 20px;
}

.card-product-price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
}

.card-product-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  box-sizing: border-box;
  background-color: #ff2f64;
  border: 2px solid #ff2f64;
  border-radius: 50%;
  cursor: pointer;
}
.cart-card-price {
  fill: #fcfcfc;
}

.card-product-button:hover {
  background-color: #fcfcfc;
  border: 2px solid #ff2f64;
}

.card-product-button:hover .cart-card-price {
  fill: #000000;
}

.card-product-button:focus {
  background-color: #ff2f64;
  border: 2px solid #000000;
}

.card-product-button:active {
  background-color: #ffcbd8;
  border: 2px solid #ff2f64;
}

.card-product-button:disabled {
  background-color: #b9b9b9;
  border: 2px solid #b9b9b9;
}

.cart-card-price {
  width: 14px;
  height: 14px;
}

.product-price {
  justify-content: flex-start;
}

/*секция особенностей*/

.main-features .container {
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 86px;
  background: url("../images/main/features/waffle-tile.jpg");
  background-color: #ffffff;
  border-radius: 16px;
}

.features-wrapper {
  min-width: 1122px;
  padding: 56px 40px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border-radius: 16px;
}

.main-features-title {
  min-width: 995px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
  margin-bottom: 56px;
}

.features-description-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  max-width: 988px;
  list-style: none;
}

.discription-item {
  position: relative;
  width: 50%;
  padding-left: 65px;
}

.ice-cream::before {
  position: absolute;
  left: 6px;
  content: url("../images/main/features/ice-cream.png");
}
.ingridients::before {
  position: absolute;
  left: 6px;
  content: url("../images/main/features/leaf.png");
}
.milk::before {
  position: absolute;
  left: 6px;
  content: url("../images/main/features/cow.png");
}
.delivery::before {
  position: absolute;
  left: 6px;
  content: url("../images/main/features/thermometer.png");
}

.discription-item:not(:last-child) {
  margin-bottom: 40px;
}

.discription-item:nth-child(3) {
  margin: 0;
}

/*секция новостей и подписки */

.main-news-subscription .container {
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/*левая часть секции*/

.main-news {
  background-color: #fcfcfc;
  color: #000000;
  border-radius: 16px;
  max-width: 570px;
  padding: 32px 235px 67px 32px;
  background-image: url("../images/main/news/news.png");
  background-repeat: no-repeat;
  background-size: 620px;
  background-position-x: 20px;
  background-position-y: -94px;
}

.main-news-title {
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
}

.main-news-link {
  display: block;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  text-decoration: none;
}

.main-news-link:hover {
  opacity: 0.6;
}

.main-news-link:focus {
  border: 1px solid #000000;
}

.main-news-link:active {
  opacity: 1;
}

/*правая часть секции*/

.subscription {
  background-color: #fcfcfc;
  color: #000000;
  border-radius: 16px;
  max-width: 570px;
  background-image: url("../images/news/subscription.png");
  padding: 6px;
}

.subscription-wrapper {
  background-color: #fcfcfc;
  color: #000000;
  border-radius: 16px;
  max-width: 558px;
  padding: 26px;
}

.subscription-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  margin-bottom: 44px;
}

.subscription-form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 14px;
}

.subscription-input {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  flex-grow: 1;
  align-self: center;
  background: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  padding: 14px;
}

.subscription-input::placeholder {
  color: #b9b9b9;
}

/* .subscription-input:invalid {
  border: 2px solid #ea5454;
} */

.subscription-input:hover {
  padding: 14px;
  color: #000000;
  border: 1px solid #000000;
}

/* .subscription-input:invalid:hover {
  padding: 14px;
  color: #000000;
  border: 2px solid #ea5454;
} */

.subscription-input:focus {
  color: #000000;
  border: 1px solid #000000;
}

.subscription-input:disabled {
  background-color: #e7e7e7;
  border: 1px solid #b9b9b9;
  opacity: 0.65;
}

.subscription-button {
  display: inline-block;
  color: #fcfcfc;
  background-color: #ff2f64;
  box-shadow: 0 4px 12px #2d34401a;
  border: 4px solid #ff2f644d;
  cursor: pointer;
  background-clip: padding-box;
  border-radius: 26px;
  padding: 12px 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.subscription-button:hover {
  color: #000000;
  background-color: #fcfcfc;
}

.subscription-button:focus {
  color: #fcfcfc;
  background-color: #ff2f64;
  border: 4px solid #000000;
}

.subscription-button:focus {
  color: #fcfcfc;
  background-color: #feafc3;
  border: 4px solid #000000;
}

.subscription-button:disabled {
  font-weight: 400;
  color: #565c66;
  background-color: #b9b9b9;
  border: 4px solid #b9b9b94d;
  cursor: default;
}

/*секция доставки*/

.main-delivery .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
  border-radius: 16px;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
  background-image: url("../images/main/delivery/delivery.png");
  background-repeat: no-repeat;
  background-position: top -147px right -100px;
  background-size: 1254px;
}

.delivery-wrapper {
  max-width: 371px;
}

.main-delivery-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin-bottom: 24px;
}

.main-delivery-subscription {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

.delivery-data {
  max-width: 500px;
  padding: 40px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.delivery-data-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  margin-bottom: 32px;
}

.delivery-data-form {
  display: grid;
  grid-template-columns: 116px 286px;
  gap: 16px 16px;
  align-items: flex-end;
}

.form-date {
  min-width: 117px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

.date-input {
  max-width: 117px;
  padding: 14px;
  margin-top: 8px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.form-telephone {
  min-width: 287px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

.telephone-input {
  min-width: 287px;
  padding: 14px;
  margin-top: 8px;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.form-adress {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

.adress-input {
  min-width: 420px;
  padding: 14px;
  margin-top: 8px;
  margin-bottom: 32px;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.data-form-button {
  grid-column: 1/-1;
  display: inline-block;
  max-width: 152px;
  margin: 0 auto;
  padding: 12px 32px;
  background-clip: padding-box;
  border-radius: 26px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  color: #fcfcfc;
  background-color: #ff2f64;
  box-shadow: 0 4px 12px #2d34401a;
  border: 4px solid #ff2f644d;
  cursor: pointer;
}

.data-form-button:hover {
  color: #2d3440;
  background-color: #fcfcfc4d;
  border: 4px solid #ff2f64;
}

.data-form-button:focus {
  padding: 14px 34px;
  background-color: #ff2f64;
  border: 2px solid #2d3440;
}

.data-form-button:disabled {
  font-weight: 400;
  color: #565c66;
  background-color: #b9b9b9;
  border: 4px solid #b9b9b94d;
  cursor: default;
}

.data-form-button:active {
  padding: 14px 34px;
  background-color: #feafc3;
  border: 2px solid #2d3440;
}

.delivery-data-form input:hover {
  padding: 14px;
  border: 1px solid #2d3440;
}

.delivery-data-form input:focus {
  padding: 13px;
  border: 2px solid #2d3440;
}

/*секция адрес магазина*/

.main-adress .container {
  background-image: url("../images/main/adress/adress.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -98px right;
  padding: 64px;
  border-radius: 16px;
}

.adress-wrapper {
  max-width: 343px;
  padding: 40px;
  background-color: #fcfcfc;
  color: #000000;
  border-radius: 8px;
}

.adress-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  margin-bottom: 12px;
}

.adress-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  margin-bottom: 24px;
}

.adress-tel {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  text-decoration: none;
}

.adress-tel:hover {
  opacity: 0.6;
}

.adress-tel:active {
  opacity: 0.4;
}

.adress-note {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
  margin-bottom: 32px;
}

.adress-button {
  display: inline-block;
  padding: 12px 32px;
  background-clip: padding-box;
  border-radius: 26px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  color: #fcfcfc;
  background-color: #ff2f64;
  box-shadow: 0 4px 12px #2d34401a;
  border: 4px solid #ff2f644d;
  cursor: pointer;
}

.adress-button:hover {
  color: #2d3440;
  background-color: #fcfcfc4d;
  border: 4px solid #ff2f64;
}

.adress-button:focus {
  padding: 14px 33px;
  background-color: #ff2f64;
  border: 2px solid #2d3440;
}

.adress-button:active {
  padding: 14px 33px;
  background-color: #feafc3;
  border: 2px solid #2d3440;
}

/*подвал */

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 104px;
}

/*социадьные сети*/

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.social-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-clip: content-box;
  border: 2px solid #fec7d5;
  border-radius: 50%;
}

.icon-social {
  width: 24px;
  height: 24px;
  fill: #fcfcfc;
}

.social-item:not(:last-child) {
  margin-right: 16px;
}

.social__link:hover {
  border: 2px solid rgba(252, 252, 252, 0.5);
}

.social-link:hover::after {
  content: "";
  position: absolute;
  top: 2px;
  z-index: -1;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #000000;
  border-radius: 50%;
}

.social-link:focus {
  border: 2px solid #000000;
}

.social-link:active {
  border: 2px solid rgba(252, 252, 252, 0.5);
}

.social-link:active::after {
  content: "";
  position: absolute;
  top: 2px;
  z-index: -1;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #000000;
  border-radius: 50%;
}

/*для поставщиков*/

.footer-suppliers-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  list-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2d3440;
}

.suppliers-item:nth-child(1) {
  position: relative;
  font-weight: 700;
}

.suppliers-item:nth-child(1)::before {
  position: absolute;
  content: url("../images/footer/heart-ico.svg");
  top: 5%;
  transform: translateX(-160%);
}

.footer-suppliers-list a {
  text-decoration: none;
  color: inherit;
}

.suppliers-item {
  width: 50%;
}

.suppliers-item:not(:last-child) {
  margin-bottom: 8px;
}
.suppliers-item:nth-child(3) {
  margin-bottom: 0;
}

.suppliers-item:hover {
  opacity: 0.6;
}

/*логотип и копирайт */

.footer-logo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 195px;
}

.footer-copyright {
  margin-top: 18px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #2d3440;
}

.copyright-link {
  color: #000000;
}

.copyright-link:hover {
  opacity: 0.6;
}
